<div style="color: #625f5fe7; font-size: smaller;padding-left: 10rem; ">
    <p style="font-weight: 700; font-size: x-large; ">Best Doctors in Egypt</p>
    <p>Book online or call  <i style="color: red; " class=" pi pi-phone"></i> <span style="font-weight: 700;">16676</span> </p>
    <p>15000 Doctors - 9000 Professors and Consultants - More than 40 Specialties</p>
</div>


<!-- if no Appointments -->
<div>
    <h3 class="text-center" style="padding: 10rem;">You don't have any appointments yet,<span style="color:red">book</span> </h3>

</div>
