<div class="PaddingContent">
    <!-- search -->
   
      <p-iconField iconPosition="left" class="ml-auto" class="searchparent">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon> 
        <input class="search"
            pInputText 
            type="text" 
            (input)="filterGlobal($event, 'contains')"
            placeholder="Search by doctor name" />
      </p-iconField>
      
  <!-- table-->
  <div class="card">
    <p-table   #dt2 [value]="paginatedDoctor" [paginator]="true" [rows]="items" [totalRecords]="DoctorsNumber" (onPage)="onPageChange($event)" [tableStyle]="{'min-width': '60rem'}">
  
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div style=" color: #245cd4;  font-family: 'Pacifico', sans-serif;">
                  In total there are {{DoctorsNumber ? DoctorsNumber : 0 }} Doctors''.
                </div>
               <!-- creat button -->
                <!-- <div >
                  <p-button  class="pop" routerLink="/dashbord/ApproveDoc"  label="Doctors Need Approval"></p-button>
                  
                </div> -->


                <div class="right-content">
                  <p-button class="pop" (onClick)="ApproveDoctorComponent.showDialog()" label="Doctors Need Approval"></p-button>
                  <app-approve-doctor #ApproveDoctorComponent ></app-approve-doctor>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr >
                <th>No.</th>
                <th>Name</th>
                <th>Title</th>
                <th >Image</th>
                <th>Education</th>
                <th>phone</th>
                <th >Gender</th>
                <th>Registered At</th>
                <th >Specialization</th>
                <th >View</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paginatedDoctor let-i="rowIndex">
            <tr >
                <td>{{ i + 1 }}</td>
                <td>{{paginatedDoctor.userName}}</td>
                <td>{{paginatedDoctor.title}}</td>
                <td>{{paginatedDoctor.phone}}</td>
                <td class="des">{{paginatedDoctor.education}}</td>
                <td>{{paginatedDoctor.phone}}</td>
                <td class="des">{{paginatedDoctor.genderR}}</td>
                <td>{{paginatedDoctor.createdAt | date: 'short'}}</td>
                <td class="des">{{paginatedDoctor.specialization}}</td>
                <td ><a href="/dashbord/DocDetails/{{paginatedDoctor.id}}" >  
                 
                  <i  style="color: chocolate; cursor: pointer;" class=" pi pi-eye"></i>   </a>

               </td>
              
              </tr>
              
        </ng-template>
    </p-table>
  </div>
  </div>