<div class="row " style="margin-left: 7rem; margin-right: 3rem; margin-top: 3rem;" >



    <div class="card  col-8   my-4 ">
      <div class="row card-body">
        <div class="img-focas col-3">
          <!-- <img [src]="( doctor.image)" alt="Doctor Image"> -->
          <img src="/src/assets/WhatsApp Image 2024-10-24 at 17.05.29_2ab71bdb.jpg" alt="Doctor Image">
        </div>
        <div class="col-9 card-res-size">
          <div class="row">
            <div class="col-12">
              <p class="mb-1" style="font-size:x-large;">Doctor Ahmed Mohamed Ahmed  </p>
              <p style="font-weight: bold;">  Professor of Dermatology And Andrology </p>
                <p> Spetialization: <small style="color: rgba(21, 101, 229, 0.736);">
                  Dermatologist specialized in Adult Dermatology , Genral Andrology and Andrology   
                  </small> </p>
              
  
            </div>
            <div class="col-12 my-4">
              <div class="stars">
                <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
                <i class="fa text-secondary">(44)</i>
              </div>
             
              <div>
                <h3>Overall Rating From 192 Visitors</h3>
              </div>
              <br>
              <div class="col-12" style="background-color: #eee; border-radius: 10px 20px; padding: 1rem;">
               <p class="" style="text-align: right; ">"الدكتور شاطر"</p>
               <div class="stars">
                <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
                <i class="">أ.اسراء <span>Tuesday ,20 June 2019</span></i>
              </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>



    <div class="col-4 my-4 sideBar text-center" style="height: 30rem;">
      <div class="card mb-3 ">
  
        <p class="Bookinfo text-center"><strong>Booking Information</strong></p>
        <div>
          <p class=" text-center"><strong>Book</strong></p>
          <p class=" text-center " style="color: rgb(14, 123, 212); font-size:larger;"><strong>Examination</strong></p>
        </div>
        <hr>
       <div class="row p-6 ">
        <div class="col-4">
          <i  style="color: chocolate;" class=" pi pi-wallet"></i>  
          <p>Fees400 EGP</p>
        </div>

        <div class="col-6">
          <i  style="color: chocolate;" class=" pi pi-clock"></i>  
          <div>Waiting Time : 1 Hour and 23 Minutes</div>
        </div>

       </div>
        <hr>
  
  
        <div class=" ">
          <div class="">
            <i  style="color: chocolate;" class=" pi pi-map-marker"></i> 
            <span>
              El-Dokki : ElDokki street</span> 
              <p>Book now to receive the clinic’s address details and phone number</p>
          </div>
        </div>
        <hr>
  
        <div class="row p-2 ">
          <h3>Choose your appointment</h3>
        <div style="background-color: #f6f3f3;">
          <div class="row" style="margin: 1rem;">
          <div class="booking col-4 ">
            <h3 style="background-color:rgb(14, 123, 212) ; padding: 0.30rem; color: #fff; margin-bottom: 0;font-size: large">Sunday</h3>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <p style="color:rgb(14, 123, 212) ;font-weight: 700;">9:30 PM</p>
            <h3 (click)="BookApp()" style="background-color:red ; padding: 0.30rem; color: #fff; margin-bottom: 0;cursor: pointer;font-size: large">Book</h3>
            <div>

            </div>
          </div>

        </div>
        </div>
  
        </div>
        <hr>
        <div>
          
         <p>Appointment reservation</p>
  
        </div>
        <hr>
        <div>
          <i  style="color:chartreuse; font-weight: 100 !important; font-size: 2rem; width: 20rem;" class=" pi pi-calendar-clock
          "></i> 
         <p>
          Book online, Pay at the clinic!</p>
          <p>Doctor requires reservation!</p>
        </div>
  
        
      </div>
      <div class="" style="text-align: center;">
  
        <h6><small class="text-secondary">By proceeding, you are automatically accepting the </small></h6>
        <a><small>Terms & Conditions</small></a>
      </div>
  
    </div>
  <div class="col-8 card-res-size card  details my-4 " >

    <h1 class="" style="font-size: 1.25rem;padding: 1.5rem; font-weight:bolder;"> <i class=" pi pi-verified"></i>About The Doctor</h1>
    <div>
      {{doctor.title}}
    </div>
  
  </div>


  <div class="col-8 card-res-size card  details  my-4" >

    <h1 class=""style="font-size: 1.25rem;padding: 1.5rem; font-weight:bolder;"> <i class=" pi pi-verified"></i>Symptoms and Services :</h1>
    <div>
      {{doctor.title}}
    </div>
  
  </div>
  

  <div class="col-8 card-res-size card  details  my-4 " style="padding: 0;" >

    <h1 class="" style="font-size: 1.25rem;padding: 1.5rem; font-weight:bolder;"> <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1rem;padding-right: 0.5rem;"></i>Patients’ Reviews :</h1>
    <div class="text-center">
      <div class="stars ">
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
      </div>
      <p>Overall Rating</p>
      <p style="padding-bottom: 1.5rem;">From 192 Visitors</p>

      <div class="row">
        <div class="col-4">
          <div class="stars ">
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
          </div>
          <p>Assistant Rating</p>
        </div>

        <div class="col-4">
          <div class="stars ">
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
          </div>
          <p>Clinic Rating</p>
        </div>

        <div class="col-4">
          <div class="stars ">
            <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
           
          </div>
          <p>Doctor Rating</p>
        </div>
      </div>
    </div>
  <div style="height: 30px; background-color: #eee; margin: 0;"></div>

    <div class="p-review" style="padding: 1.5rem;">
      <div class="stars">
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
        <i class="fa fa-star " style="color: rgb(253, 192, 79); font-size: 1.25rem;padding-right: 0.5rem;"></i>
      </div >

      <div class="patient-comment">
        <div>patient comment</div>
        <div> patient name </div>
        <div>comment date</div>
      </div>
      
     <div class="text-center">
      <a style="color: dodgerblue;text-decoration: none;" href=""  >View more</a>
     </div>
      
    </div>
  </div>
  
  
</div>

