
  <div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <h1>Book now with Doctor Mostafa Ahmed Hammam</h1>
        <div><span> Book online or call </span> <span><i class="fa-solid fa-phone text-danger"></i></span><span>16676</span></div>
        <div>15000 Doctors - 9000 Professors and Consultants - More than 40 Specialties</div>
      </div>
      <div class="col">
        <img src="">
      </div>
    </div>
  </div>
  <!-- second section -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary mt-5">
    <div class="container-fluid">
      <div class="btn-group">
        <button class=" dropdown-toggle"  data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
         select a spicality
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button class=" dropdown-toggle"  data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
         choose city
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button class=" dropdown-toggle"  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        choose area
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button class=" dropdown-toggle"  data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
       choose insurance 
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="or search by name" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit"><span></span>Search</button>
        </form>
      </div>
  </nav>
  <!-- third section -->
  <div class="container mt-3">
    <div class="row">
      <div class="col">
       <div class="row">  
          <div class="col-5 h5 text-secondary">All specialities</div>
        <div class="col">all doctors 10204</div></div>
    
      </div>
      <div class="col">
        <div class="row">  
          <div class="col-3">sorting:</div>
        <div class="col"><div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            top rated
          </button>
          <ul class="dropdown-menu">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Default checked radio
              </label>
            </div>
          </ul>
        </div></div></div>
      </div>
    </div>
  </div>
       <!-- fourth section  -->
<div class="row mt-5">
  <div class="col-2">
    <div class="card " >
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-primary text-light "><span><i class="fa-solid fa-filter"></i> </span>Filters</li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
          Title
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  Professor
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                  lecture
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                  <label class="form-check-label" for="flexCheckDefault2">
                 consulante
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                  <label class="form-check-label" for="flexCheckChecked2">
                   specialest
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
              Sup specialiest
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  Professor
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                  lecture
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                  <label class="form-check-label" for="flexCheckDefault2">
                 consulante
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                  <label class="form-check-label" for="flexCheckChecked2">
                   specialest
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5" checked>
                  <label class="form-check-label" for="flexCheckChecked5">
                   specialest
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
        Gender
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                   Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                 Female
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
              Availability
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  Professor
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                  lecture
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                  <label class="form-check-label" for="flexCheckDefault2">
                 consulante
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
              Promo code
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  Professor
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
              Examination fee
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                 300
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                500
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                  <label class="form-check-label" for="flexRadioDefault3">
                900
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                  <label class="form-check-label" for="flexRadioDefault4">
                800
                  </label>
                </div>
          </ul>
        </div></li>
        <li class="list-group-item"><div class="btn-group dropend">
          <button type="button" class="btn btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
              Entity
          </button>
          <ul class="dropdown-menu">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  Professor
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                  lecture
                  </label>
                </div>
          </ul>
        </div></li>
      </ul>

    </div> 
  </div>
  <!-- section card of doc -->
       <div class="col-8 container all shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row pt-2">
          <div class="col-2 ">
         <img  class="docimg"  src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENTb46477/Profile/150/doctor-mostafa-ahmed-hamam--dermatology_20190507015437208.jpg">
          </div>
          <div class="col-4">
          <div><p class="space  text-primary">Doctor <a href="#" class="fs-2 text-primary">Name</a></p> </div>
      <p class="space">specialice of doc</p>
      <div class="space "><i class="fa-regular fa-star text-warning"></i> <i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i></div>
      <p class="space">rate from visitor</p>
      <p class="space"><span><i class="fa-solid fa-stethoscope icons"></i></span>detrmabo special in</p>
      <p class="space"><span><i class="fa-solid fa-location-dot icons"></i></span>location</p>
      <p class="space"><span><i class="fa-solid fa-money-bill icons"></i></span>money</p>
      <div class="space"><button type="button" class="btn btn-primary w-100"><a href="#"></a>bay with</button></div>
      <p class="space"><span><i class="fa-solid fa-hourglass-start icons"></i></span>waiting</p>
      <p class="space"><span><i class="fa-solid fa-phone icons"></i></span>call</p>
  
          </div>
          <div class="col-6">
            <!-- carsoul -->
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                          
                            </div>
                            <div  class="book" ><a href="#">Book</a> </div>
                       
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                            </div>
                            <div  class="book" ><a href="#">Book</a> </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                            
                            </div>
                            <div class="book"><a href="#">Book</a> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- seconf -->
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                          
                            </div>
                            <div  class="book" ><a href="#">Book</a> </div>
                       
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                            </div>
                            <div  class="book" ><a href="#">Book</a> </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card d-block ">
                           <p class="headbook">Today</p>
                            <div class="card-body">
                              <p class="card-text">time</p>
                              <hr>
                              <p class="card-text">time</p>
                            
                            </div>
                            <div class="book"><a href="#">Book</a> </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add more carousel items as needed -->
                  <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div><p>Reservation required, first-come, first-served</p></div>
          </div>
        </div>
      </div>
    </div>
