
<!-- first section -->
    <div class="card center p-3" style="width:auto ;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-secondary fs-2"><p>Get your medicine with delivery to your location</p></li>
          <li class="list-group-item"><nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <form class="d-flex w-100">
                <input class="form-control me-2" type="search" placeholder="Search  for your product" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </nav></li>
          <li class="list-group-item"><div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
          </div></li>
          <li class="list-group-item">
              <p >   <span><i class="fa-solid fa-pills text-primary"></i></span> All medicines are dispensed from pharmacies licensed by the Egyptian ministry of health.</p>
            </li>
        </ul>
      </div>
      <!-- second section is category -->
      <p class="text-secondary fs-4  " style="margin-left: 20px;">Browse by category</p>
      <div class="container shadow-lg p-3 mb-5 bg-body rounded mt-3 p-3">
      
        <div class="row">
          <div class="col">
            <div class="card" style="width: 10rem;">
            <img src="https://dkud4u09qff41.cloudfront.net/headCategories/e5d02a28-b378-4e1a-8f8c-e1d0668e2c0c.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Featured</h5>
            </div>
          </div>
        </div>
          <div class="col"> <div class="card" style="width: 10rem;">
            <img src="https://dkud4u09qff41.cloudfront.net/headCategories/1a0d3713-7045-46c8-90e3-41c8d2a85f98.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Presc Medicine</h5>
            </div>
          </div></div>
          <div class="col"> <div class="card" style="width: 10rem;">
            <img src="https://dkud4u09qff41.cloudfront.net/headCategories/5871557e-0db1-4901-8448-6cf620b6103b.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Self Medicine</h5>
            </div>
          </div></div>
          <div class="col"> <div class="card" style="width: 10rem;">
            <img src="https://dkud4u09qff41.cloudfront.net/headCategories/fe7cad45-d6c1-4c0e-a149-4487323904c1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mother and baby</h5>
            </div>
          </div></div>
        </div>
        <!-- 2 -->
        <div class="row">
            <div class="col">
              <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/5420553f-0a78-4564-9206-febb45594ddb.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vitamins and Nutritions</h5>
              </div>
            </div>
          </div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/3f19735d-c6dc-4eb9-9a31-93994ee4d1c5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">COVID Essintionl</h5>
              </div>
            </div></div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/9972fa72-f10a-40aa-995d-61e6d9f089f9.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Face and Baby</h5>
              </div>
            </div></div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/de6eea8b-08ba-43b7-8079-077f8abab0d6.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Women care</h5>
              </div>
            </div></div>
          </div>
          <!-- 3 -->
          <div class="row">
            <div class="col">
              <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/e3189402-8fa1-4e49-a8ad-a9b2b961f823.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Men Care</h5>
              </div>
            </div>
          </div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/f7e61b59-5198-49db-a724-4b9dc9c12f4a.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hair Care</h5>
              </div>
            </div></div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/1a859448-185f-48d3-8144-406ebafeb4a2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Medical Equipment</h5>
              </div>
            </div></div>
            <div class="col"> <div class="card" style="width: 10rem;">
              <img src="https://dkud4u09qff41.cloudfront.net/headCategories/9c7ad48d-045c-4118-9ebd-68f3d5ac377e.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Elderly care</h5>
              </div>
            </div></div>
          </div>
    </div>   

