
<div class="form-container">
    <form class="form">
    
        <div class="form-group  sign"><p>Sign up</p></div>
        <div class="form-group   allele"><input class="btn btn-primary" type="submit" value="connect with facebook"></div>
<br>
<br>
        <div class="form-group row allele">
            <label for="inputname" class="col-sm-2 col-form-label">Your name</label>
            <div class="col-sm-10 mb-2">
              <input type="text" class="form-control" id="inputname" placeholder="first name and last name">
            </div>
          </div>
          <div class="form-group row allele">
            <label for="inputnumber" class="col-sm-2 col-form-label">Mobile number</label>
            <div class="col-sm-10 mb-2">
              <input type="text" class="form-control" id="inputnumber" placeholder="mobile number">
            </div>
          </div>
          <div class="form-group row allele">
            <label for="inputemail" class="col-sm-2 col-form-label">Email Adress</label>
            <div class="col-sm-10 mb-2">
              <input type="email" class="form-control" id="inputemail" placeholder="example@domain.com">
            </div>
          </div>
          <fieldset class="form-group allele">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
              <div class=" row col-sm-10 mb-2">
                
                <div class=" col form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Female
                  </label>
                </div>
                <div class=" col form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                 Male
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row allele">
            <label for="birthdate" class="col-sm-2 col-form-label">birthdate</label>
            <div class="col-sm-10 mb-2">
              <input type="date" class="form-control" id="birthdate" placeholder="">
            </div>
          </div>
        <div class="form-group row allele">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10 mb-2">
            <input type="password" class="form-control" id="inputPassword3" placeholder="">
          </div>
        </div>
    
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">add incerance</label>
          </div>
        <div class="col-sm-10  mb-2"><p>By signing up  you agree to our <a href="https://www.vezeeta.com/en/Generic/TermsAndConditions">terms of use</a></p></div>
        <div class="form-group row allele">
          <div class="col-sm-10  mb-2">
            <button type="submit" class="btn btn-danger ">Join now</button>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="form-group row allele">
          <div class="col-sm-10  mb-2">
        <p>Already register in vezeeta?<a href="#" style="text-decoration: underline red;color: blue;">Login</a></p>
          </div>
        </div>
    
      </form>
</div>
