.form{
    width: 50%;
    justify-content: center;
    text-align: center;
    border: 1px  ;
    background-color: white;
    border-radius: 10%;
    
   
      } 
      .sign{
      
     font-size: xx-large;
     font-weight: bold;
       color: #0070cd;
       margin: 5px;
      padding-top: 10px;
      }
      .allele{
       margin: 7px;
       border-radius: 5%;
      }
      .form-container {
      
   display: flex;
   justify-content: center;
   align-items: center;
   height: 110vh; 
   background-color: #f7f7f7; 
 
}