.PaddingContent
{
  padding-top: 1rem !important;
  color: blue;
  /* background-color: aqua; */
  width: 100%;
margin-left: 10%;
}
* {
  color: black;
}
.row
{
    width: auto;
}
.row .card
{
    width: 35vw;
    height: 39vh !important;
    /* align-items: center; */
}

:host ::ng-deep  .pie canvas {
    height: 37vh !important;  
    margin: auto;
}
